.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.title {
	white-space: nowrap;
	margin: 0;
}

.config-buttons {
	display: flex;
	gap: 0.5rem;
}

.session-controls {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	margin-top: 1rem;
	flex-wrap: wrap;
}
